/*Desktop design below*/
body {
    /*background-image: url("../img/track1.jpg");*/
    background-height: 100%;
    height: 150vh;
    grid-row-gap: 1em;
    display: grid;
    grid-template-areas:
        'header'
        'wrapper'
        'footer';
}

.header {
    background-color: red;
    grid-area: header;
    display: grid;
    width: 100%;
    height: 5em;
    grid-template-areas:
        'logo'
        'nav';
}

.logo {
    grid-area: logo;
    /*input logo image*/
}

.nav {
    grid-area: nav;
    display: flex;
}

.wrapper {
    grid-area: wrapper;
    width: 70vw;
    height: 150vh;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        'title title'
        'img1 aside'
        'art aside';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 8fr 12fr;
}

.title {
    grid-area: title;
    background-color: limegreen;
}

.img1 {
    grid-area: img1;
    background-color: blue;
}

.art {
    grid-area: art;
    background-color: limegreen;
}

aside {
    grid-area: aside;
    display: grid;
    grid-row-gap: 1em;
    grid-template-areas:
        'asdiv1'
        'asdiv2'
        'asdiv3'
        'asdiv4'
        'asdiv5'
}

#asdiv1 {
    grid-area: asdiv1;
    background-color: pink;
}

#asdiv2 {
    grid-area: asdiv2;
    background-color: purple;
}

#asdiv3 {
    grid-area: asdiv3;
    background-color: pink;
}

#asdiv4 {
    grid-area: asdiv4;
    background-color: purple;
}

#asdiv5 {
    grid-area: asdiv5;
    background-color: pink;
}

footer {
    background-color: red;
    grid-area: footer;
}
